html {
	background-color: #ffffff;
	background-size: cover;
	background-position: 50% 0;
}

body {
	color: #383d3b;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0;
	height: 100%;
}

a {
	color: #383d3b;
	text-decoration: none;
	box-shadow: 0 -0.1em 0 #00d9b5 inset;
	transition: box-shadow 0.1s;
}

a:hover {
	box-shadow: 0 -1.3em 0 #00d9b5 inset;
}

p {
	width: 100%;
	max-width: 560px;
	line-height: 1.75rem;
}

header {
	background-color: #00d9b5;
	color: #fff;
	line-height: 1.75rem;
}

header h1 {
	margin: 0;
	font-family: 'Montserrat', 'Arial Black', Verdana, sans-serif;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

header h2 {
	margin: 0;
	color: #383d3b;
	font-family: 'Montserrat', 'Arial Black', Verdana, sans-serif;
	text-transform: uppercase;
}

header .alert {
	color: rgb(230,0,0);
	transition:0.05s;
	text-shadow: 0 0 2px rgba(230, 0, 0, 0.9);
	font-size: 0;
}

.container {
	padding: 1rem;
}

ul {
	list-style-type: none;
	padding: 0;
}

.date {
	color: rgba(0, 0, 0, 0.4);
}